<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.BIND_ACCESSIBILITY_SERVICE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EyedidSampleApp">

        <!-- 16KB 페이지 크기 지원 선언 (Android 15+) -->
        <property
            android:name="android.app.PROPERTY_COMPAT_ALLOW_16K_PAGE_SIZE"
            android:value="true" />

        <activity android:name="camp.visual.android.sdk.sample.ui.main.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 설정 액티비티 추가 -->
        <activity
            android:name="camp.visual.android.sdk.sample.ui.settings.SettingsActivity"
            android:exported="false"
            android:parentActivityName="camp.visual.android.sdk.sample.ui.main.MainActivity" />

        <service
            android:name="camp.visual.android.sdk.sample.service.tracking.GazeTrackingService"
            android:exported="false"
            android:foregroundServiceType="camera" />

        <service
            android:name="camp.visual.android.sdk.sample.service.accessibility.MyAccessibilityService"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE"
            android:exported="true">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>
            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility_service_config" />
        </service>

    </application>
</manifest>